################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/HR Tech/FileContentIndex
HR Tech/obj/Debug/net8.0/HR Tech.dll
*.pdb
