@model List<SolicitudViewModel>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mis Solicitudes</title>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocalización no es soportada por este navegador.");
            }
        }

        function showPosition(position) {
            // Aquí puedes hacer lo que desees con la posición obtenida
            console.log("Ubicación obtenida:");
            console.log("Latitud: " + position.coords.latitude);
            console.log("Longitud: " + position.coords.longitude);
        }
    </script>
</head>

<body>

    <h1>Mis Solicitudes</h1>

<button onclick="getLocation()">Obtener ubicación</button>
<br />
<br />
    
        @* <a href="#">Picate la cola</a> *@
 <br />
 <br />

    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Nombre</th>
                <th>Días Solicitados</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Descripcion</td>
                    <td>@item.Nombre</td>
                    <td>@item.DiasSolicitados</td>
                    <td>@item.Departamento</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>